<ui-tab>
  <ui-tab-view>
    <ui-tab-view-item [rootPage]="page"></ui-tab-view-item>
    <ui-tab-view-item [rootPage]="page2"></ui-tab-view-item>
  </ui-tab-view>
  <ui-tab-bar>
    <ui-tab-bar-item>
      <span class="icon icon-home"></span>
    </ui-tab-bar-item>
    <ui-tab-bar-item>
      <span class="icon icon-newspaper"></span>
    </ui-tab-bar-item>
    <ui-tab-bar-item>
      <span class="icon icon-headphones"></span>
    </ui-tab-bar-item>
    <ui-tab-bar-item>
      <span class="icon icon-film"></span>
    </ui-tab-bar-item>
  </ui-tab-bar>
</ui-tab>