ui-scroll-tab {
    display: block;
    height: 40px;
    border-bottom: $border-width solid $color-gray-light;
}

.ui-scroll-tab {
    position: relative;
    height: inherit;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    /*---滚动条大小--*/
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.ui-scroll-tab-wrap {
    height: inherit;
    display: table-row;
    text-align: center;
    position: relative;
    z-index: 0;
}

.ui-scroll-tab-line-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100px;
    z-index: 1;
}

.ui-scroll-tab-line {
    height: 100%;
    background-color: $color-primary;
}