ui-slide {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.ui-slide-group {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

ui-slide-item {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.ui-slide-buttons {
    text-align: center;
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 3px $grid-column-padding;
    > div {
        display: inline-block;
        position: relative;
        top: -1.8em;
        border: none;
        background-color: rgba(255, 255, 255, .3);
        width: 6px;
        height: 6px;
        margin-left: 3px;
        margin-right: 3px;
        border-radius: 50%;
        transition: all .3s;
        &.active {
            background-color: $color-dark;
        }
    }
}