@import "~normalize.css/normalize.css";

@import "varibles";

@import "mixins/clearfix";
@import "mixins/fill-box";
@import "mixins/flex-center";
@import "mixins/list-unstyled";

@import "common";

// icons
@import "../fonts/angular-ui/style.css";

// 扩展样式主要用于各个组件搭配使用时，样式不符合预期的修改
@import "components/ui-alert";
@import "components/ui-app";
@import "components/ui-loading-button";
@import "components/ui-confirm";
@import "components/ui-drop-down";
@import "components/ui-drop-down-fixed";
@import "components/ui-drop-down-menu";
@import "components/ui-input";
@import "components/ui-notify";
@import "components/ui-option";
@import "components/ui-select";
@import "components/ui-slide";
@import "components/ui-slide-item";
@import "components/ui-switch";
@import "components/ui-view-loading-bar";

