$grid-column-padding: 15px;

$header-height: 44px;
$header-bg: #f8f8f8;
$header-border-bottom: 1px solid rgba(0, 0, 0, .3);

$footer-height: 44px;

$tab-bar-height: 42px;
$tab-bar-bg: #f8f8f8;
$tab-bar-border-top: 1px solid rgba(0, 0, 0, .3);

$icon-font-size: 1.6em;
