// 全局配置
$font-size-base: 14px !default; // 基础文字大小
$font-size-small: 12px !default;
$font-size-large: 16px !default;
$font-size-larger: 17px !default;
$line-height: 1.6 !default;
$border-width: 0.55px !default; // 1px 线条，为适应retina
$is-open-radius: true !default;

// 辅助配置
$container-vertical-padding: 6px !default;
$mask-z-index: 1000 !default;
$toast-z-index: 1100 !default;
$page-loading-z-index: 900 !default;
$mask-background-color: rgba(0, 0, 0, .4) !default;

// 基础颜色
$color-darker: #1c2438 !default; // 标题颜色
$color-dark: #495060 !default; // 正文颜色
$color-gray-dark: #80848f !default; // 图标、icon颜色
$color-gray: #b4b7bd !default; // 表单边框颜色
$color-gray-light: #c8c7cc !default; // 内边线颜色
$color-light: #e9eaec !default; // 布局边框颜色
$color-lighter: #f8f8f9 !default; // 背景颜色

$color-default: $color-dark !default;
$color-primary: #2d8cf0 !default; // 主色调
$color-info: #6ad1ec !default; // 信息提示颜色
$color-success: #19be6b !default; // 正向操作提示颜色
$color-warning: #ff9900 !default; // 负面操作警告颜色
$color-danger: #ed3f14 !default; // 危险操作警告颜色

// 栅格化配置
$grid-columns: 12 !default; // 栅格列数
$grid-column-padding: 15px !default; // 每列的距离

// 盒模型圆角配置
$radius-base: 4px !default; // 基本圆角
$radius-sm: $radius-base - $border-width !default; // 小圆角
$radius-xs: $radius-sm - $border-width !default; // 更小的圆角
$radius-lg: $radius-base + 2px !default; // 大圆角

// 按扭
$button-padding-vertical: 5px !default;
$button-padding-vertical-sm: $button-padding-vertical - 3px !default;
$button-padding-vertical-xs: $button-padding-vertical-sm - $border-width !default;
$button-padding-vertical-lg: $button-padding-vertical + 2px !default;

$button-padding-horizontal: 12px !default;
$button-padding-horizontal-sm: $button-padding-horizontal - 4px !default;
$button-padding-horizontal-xs: $button-padding-horizontal - 2px !default;
$button-padding-horizontal-lg: $button-padding-horizontal + 4px !default;

$button-radius-is-open: $is-open-radius !default;
$button-radius: $radius-base !default;
$button-radius-sm: $radius-sm !default;
$button-radius-xs: $radius-xs !default;
$button-radius-lg: $radius-lg !default;

$button-font-size: $font-size-base !default;
$button-font-size-sm: $button-font-size - $border-width !default;
$button-font-size-xs: $button-font-size-sm - $border-width !default;
$button-font-size-lg: $button-font-size + 4px !default;

// 列表
$list-item-hover-bg: $color-lighter !default;
$list-item-vertical-padding: 12px !default;
$list-item-horizontal-padding: $grid-column-padding !default;
$list-header-vertical-padding: 10px !default;
$list-header-horizontal-padding: $grid-column-padding !default;

$list-item-forward-bg: #fff url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012%2020'><path%20d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z'%20fill='%23c8c7cc'/></svg>") right 14px center no-repeat !default;
$list-item-forward-padding-right: 32px !default;

// 模拟radio/checkbox
$ui-input-focus-box-shadow-color: hsla(hue($color-gray-light), saturation($color-gray-light), lightness($color-gray-light), .5) !default;

// confirm
$confirm-radius-is-open: $is-open-radius !default;

$confirm-radius: 13px !default;
$confirm-width: 300px !default;
$confirm-height: 220px !default;

// confirm
$alert-radius-is-open: $is-open-radius !default;

$alert-radius: 13px !default;
$alert-width: 270px !default;
$alert-height: 220px !default;

// toast
$toast-radius-is-open: $is-open-radius !default;

$toast-width: 270px !default;
$toast-height: 140px !default;

$header-height: 44px !default;
$header-bg: #f8f8f8 !default;
$header-border-bottom: $border-width solid rgba(0, 0, 0, .3) !default;

$footer-height: 44px !default;

$tab-bar-height: 42px !default;
$tab-bar-bg: #f8f8f8 !default;
$tab-bar-border-top: $border-width solid rgba(0, 0, 0, .3) !default;

$icon-font-size: 1.6em !default;

// 返回按扭icon的宽度，title 左右 margin 的宽度，两个值必需保持一致，否则会引起转场动画重影
$title-horizontal-distance: 20px;

