.DS_Store
aot/
config/
dist/
docs/
node_modules/
middle-file/
server/
example/
src/
.editorconfig
.gitignore
global.config.js
gulpfile.js
karma.conf.js
proxy.config.js
rollup-config.js
tsconfig.json
tslint.json
webpack.config.js
npm-debug.log
zip
.idea
*.swp