ui-footer {
    box-sizing: content-box;
    height: $footer-height;
    display: block;
    position: relative;
    background-color: #fff;
    contain: size style layout;
}

.ui-footer-shadow {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: -10px * $screen-scale;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        left: 10px * $screen-scale;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        box-shadow: 0 0 10px * $screen-scale rgba(0, 0, 0, .3);
    }
}

.ui-footer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: inherit;
}

.ui-iphone ui-footer {

}

.ui-iphone-x ui-footer {
    &:last-child {
        @media screen and (max-width: 375px * $screen-scale) {
            padding-bottom: 34px * $screen-scale;
        }
        @media screen and (max-width: 414px * $screen-scale) {
            padding-bottom: 34px * $screen-scale;
        }
    }
}

.ui-iphone-x {
    ui-tab ui-footer {
        &:last-child {
            @media screen and (max-width: 375px * $screen-scale) {
                padding-bottom: 0;
            }
            @media screen and (max-width: 414px * $screen-scale) {
                padding-bottom: 0;
            }
        }
    }
}

.ui-android {

}

.ui-default {

}