ui-content-loading {
    z-index: $page-loading-z-index;
    position: absolute;
    left: 50%;
    top: 50%;

}

.ui-content-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(0, 0, 0, .6);
    border-radius: 10px;
    padding: 5px * $screen-scale 15px * $screen-scale 10px * $screen-scale;
}

.ui-content-loading-text {
    margin: 0;
    color: #fff;
    font-size: 12px * $screen-scale;
    white-space: nowrap;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.ui-content-loading-fadein {
    animation-name: fadeIn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 0.15s;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.ui-content-loading-fadeout {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 0.15s;
}