* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    line-height: 1.15;
}

body {
    font-size: $font-size-base;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: $line-height;
    margin: 0;
    color: $color-default;
}

input, button, select, textarea {
    outline: none;
}

html, body {
    scrollbar-face-color: #aaa; /*滚动条3D表面（ThreedFace）的颜色*/
    scrollbar-highlight-color: #fff; /*滚动条3D界面的亮边（ThreedHighlight）颜色*/
    scrollbar-shadow-color: #eeeeee; /*滚动条3D界面的暗边（ThreedShadow）颜色*/
    scrollbar-3dlight-color: #eeeeee; /*滚动条亮边框颜色*/
    scrollbar-arrow-color: #aaa; /*滚动条方向箭头的颜色 */
    scrollbar-track-color: #fff; /*滚动条的拖动区域(TrackBar)颜色*/
    scrollbar-darkshadow-color: #fff; /*滚动条暗边框（ThreedDarkShadow）颜色*/
}

/*---滚动条默认显示样式--*/
::-webkit-scrollbar-thumb {
    background-color: $color-gray-light;
    height: 50px;
    outline-offset: -2px;
    outline: 2px solid #fff;
    //-webkit-border-radius: 4px;
    //border: 2px solid #fff;
}

/*---鼠标点击滚动条显示样式--*/
::-webkit-scrollbar-thumb:hover {
    background-color: $color-gray-light - 20;
    height: 50px;
    //-webkit-border-radius: 4px;
}

/*---滚动条大小--*/
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

/*---滚动框背景样式--*/
::-webkit-scrollbar-track-piece {
    background-color: $color-gray-light + 20;
    -webkit-border-radius: 0;
}

input:-webkit-autofill {
    box-shadow: inset 0 0 100px 100px #fff;
    -webkit-text-fill-color: #999;
}