.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: $grid-column-padding;
    padding-right: $grid-column-padding;

    @media (min-width: $screen-sm-min) {
        width: $screen-sm-min;
    }

    @media (min-width: $screen-md-min) {
        width: $screen-md-min;
    }
    @media (min-width: $screen-lg-min) {
        width: $screen-lg-min;
    }
    &-fluid {
        padding-left: $grid-column-padding;
        padding-right: $grid-column-padding;
    }
}