.list-unstyled {
    @include list-unstyled;
}

.list {
    @include list-unstyled;
    > .list-item {
        display: block;
        text-decoration: none;
        padding: $list-item-vertical-padding $list-item-horizontal-padding;
        background-color: #fff;
        color: inherit;
        border-bottom: $border-width solid transparent;
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background-color: $list-item-hover-bg;
        }
        &.active {
            color: $color-primary;
        }
    }
    &.list-bordered {
        > .list-item {
            border-width: 1px;
            border-style: solid;
            border-color: transparent $color-light $color-light;
            &:first-child {
                border-top: $border-width solid $color-gray-light;
            }
            &.active {
                background-color: $color-primary;
                color: #fff;
                border-color: $color-primary;
            }
        }
    }
}

.list-header {
    padding: $list-header-vertical-padding $list-header-horizontal-padding;
    font-size: .8em;
    line-height: 2em;
    background-color: $color-light;
    margin: 0;
}

.list-group {
    > .list {
        text-indent: 1em;
    }
    &.list-bordered {
        > .list {
            > .list-item {
                border-width: 1px;
                border-style: solid;
                border-color: transparent $color-light $color-light;
                &:first-child {
                    border-top: $border-width solid $color-light;
                }
                &.active {
                    background-color: $color-primary;
                    color: #fff;
                    border-color: $color-primary;
                }
            }
        }
    }
}
