@mixin panel-theme($color) {
    $c: $color;
    border: $border-width solid $c;
    > .panel-heading {
        background-color: $c;
        border-bottom-color: $c;
        color: #fff;
    }
}

.panel {
    border: $border-width solid $panel-border-color;
    overflow: hidden;
    @if $panel-radius-is-open {
        border-radius: $panel-radius;
    }
    > .panel-heading {
        background-color: $panel-border-color;
        border-bottom: 2px solid $panel-border-color;
        padding: $container-vertical-padding $grid-column-padding;
    }
    > .panel-body {
        padding: $grid-column-padding;
    }
    &.panel-default {
        @include panel-theme($color-default);
    }
    &.panel-primary {
        @include panel-theme($color-primary);
    }
    &.panel-info {
        @include panel-theme($color-info);
    }
    &.panel-success {
        @include panel-theme($color-success);
    }
    &.panel-warning {
        @include panel-theme($color-warning);
    }
    &.panel-danger {
        @include panel-theme($color-danger);
    }
}