.tab {
    @include list-unstyled;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: $container-vertical-padding;
    padding-bottom: $container-vertical-padding;
    > .tab-item {
        display: inline-block;
    }
}