<ui-drop-down [open]="open" (trigger)="trigger()" (escape)="escape()">
  <ui-drop-down-fixed>
    <div class="ui-select-fixed" renderTo="fixed">
      <input [disabled]="disabled"
             [name]="name"
             readonly
             type="text"
             [value]="text">
      <span>{{text}}</span>
      <div class="ui-select-arrow">
        <span class="caret"></span>
      </div>
    </div>
  </ui-drop-down-fixed>
  <ui-drop-down-menu>
    <div class="ui-select-menu" renderTo="menu">
      <ng-content selector="ui-option"></ng-content>
    </div>
  </ui-drop-down-menu>
</ui-drop-down>