<div class="circle-1"><span [ngStyle]="{backgroundColor: color}"></span></div>
<div class="circle-2"><span [ngStyle]="{backgroundColor: color}"></span></div>
<div class="circle-3"><span [ngStyle]="{backgroundColor: color}"></span></div>
<div class="circle-4"><span [ngStyle]="{backgroundColor: color}"></span></div>
<div class="circle-5"><span [ngStyle]="{backgroundColor: color}"></span></div>
<div class="circle-6"><span [ngStyle]="{backgroundColor: color}"></span></div>
<div class="circle-7"><span [ngStyle]="{backgroundColor: color}"></span></div>
<div class="circle-8"><span [ngStyle]="{backgroundColor: color}"></span></div>
<div class="circle-9"><span [ngStyle]="{backgroundColor: color}"></span></div>
<div class="circle-10"><span [ngStyle]="{backgroundColor: color}"></span></div>
<div class="circle-11"><span [ngStyle]="{backgroundColor: color}"></span></div>
<div class="circle-12"><span [ngStyle]="{backgroundColor: color}"></span></div>