ui-buttons {
    width: 0;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    &:last-child {
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        right: 10px;
        left: auto;
        top: 0;
    }
    &:first-child {
        justify-content: flex-start;
        align-items: center;
        position: absolute;
        left: 10px;
        right: auto;
        top: 0;
    }

    &.pull-left {
        left: 10px !important;
        right: auto !important;
        justify-content: flex-start !important;
    }
    &.pull-right {
        right: 10px !important;
        left: auto !important;
        justify-content: flex-end !important;
    }
}