ui-collection {
    @include fill-box;
    display: block;
    overflow: hidden;
}

.ui-collection {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    &.vertical {
        flex-direction: column;
    }
}