ui-content-loading {
    z-index: $page-loading-z-index;
    position: relative;
    > .ui-content-loading {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: rgba(0, 0, 0, .6);
        border-radius: 10px;
        padding: 5px 15px 10px;
        > p {
            margin: 0;
            color: #fff;
            font-size: 12px;
        }
    }
}