ui-collection {
    @include fill-box;
    overflow: hidden;
    .ui-collection {
        @include fill-box;
        display: flex;
        &.vertical {
            flex-direction: column;
        }
    }
}