ui-footer {
    box-sizing: content-box;
    height: $footer-height;
    display: flex;
    position: relative;
    background-color: #fff;
    contain: size style layout;
}

.iphone ui-footer {

}

.iphone-x ui-footer {
    &:last-child {
        @media screen and (max-width: 375px) {
            padding-bottom: 34px;
        }
    }
}

.iphone-x {
    ui-tab ui-footer {
        &:last-child {
            @media screen and (max-width: 375px) {
                padding-bottom: 0;
            }
        }
    }
}

.android {

}

.default {

}