ui-header {
    display: block;
    min-height: $header-height;
    background-color: $header-bg;
    border-bottom: $header-border-bottom;
    position: relative;
    &.iphone {
        min-height: $header-height + 20;
        padding-top: 20px;
    }
    &.iphone-x {
        min-height: $header-height + 44;
        padding-top: 44px;
    }

    &.android {

    }
    &.default {

    }
}