ui-header {
    display: block;
    min-height: $header-height;
    background-color: $header-bg;
    border-bottom: $header-border-bottom;
    position: relative;
}

.iphone ui-header:first-child {
    min-height: $header-height + 20;
    padding-top: 20px;
}
.iphone-x ui-header:first-child {
    min-height: $header-height + 20;
    padding-top: 20px;
    @media screen and (max-width: 375px) {
        padding-top: 44px;
        min-height: $header-height + 44;
    }
}

.android {

}
.default {

}