@mixin input-style($name, $color) {
    &.#{$name} {
        > ui-input-checkbox, > ui-input-radio {
            color: $color;
        }
        > ui-input-range > .ui-input-range {
            background-color: hsla(hue($color), saturation($color), lightness($color), .3);
            > .ui-input-range-btn {
                background-color: lighten($color, 10);
                &:hover, &:active {
                    background-color: $color;
                }
            }
        }
        &[disabled], &[readonly], &.disabled {
            > ui-input-range > .ui-input-range > .ui-input-range-btn {
                cursor: not-allowed;
                &:hover, &:active {
                    background-color: lighten($color, 10);
                }
            }
        }
        &[disabled], &.disabled {
            > ui-input-range > .ui-input-range > .ui-input-range-btn {
                cursor: not-allowed;
            }
        }
        &[readonly] {
            > ui-input-range > .ui-input-range > .ui-input-range-btn {
                cursor: default;
            }
        }
    }
}

ui-input {
    display: inline-block;
    &[type=checkbox], &[type=radio], &[type=range], &[type=date] {
        cursor: pointer;
        > .ui-input-raw {
            width: 0;
            height: 0;
            position: absolute;
            overflow: hidden;
            opacity: 0;
        }
        > ui-input-checkbox, > ui-input-radio {
            display: inline-block;
        }
        > ui-input-range {
            display: block;
        }
    }

    &[type=date] {
        line-height: inherit;
        border: 1px solid $color-gray-light;
        position: relative;
        &:before {
            content: "";
            display: inline-block;
            width: 8em;
        }

        &.left-bottom, &.right-bottom, &.top {
            ui-drop-down-menu {
                transform-origin: 0 100%;
            }
        }
        &.left-top ui-drop-down-menu {
            top: 0;
            right: 100%;
            left: auto;
        }
        &.right-top ui-drop-down-menu {
            top: 0;
            left: 100%;
        }
        &.left-bottom ui-drop-down-menu {
            bottom: 0;
            right: 100%;
            top: auto;
            left: auto;
        }
        &.right-bottom ui-drop-down-menu {
            bottom: 0;
            top: auto;
            left: 100%;
        }
        &.top ui-drop-down-menu {
            bottom: 100%;
            top: auto;
        }
        &.bottom ui-drop-down-menu {
            top: 100%;
            left: 0;
        }

        > ui-input-date {
            padding: inherit;
            > ui-drop-down {
                cursor: inherit;
                padding: inherit;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                > ui-drop-down-fixed {
                    padding: inherit;
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    > .ui-date-fixed {
                        white-space: nowrap;
                        overflow: hidden;
                        margin-right: $form-control-padding-horizontal * 1.5;
                        line-height: inherit;
                        cursor: inherit;
                        .ui-date-placeholder {
                            color: #888;
                        }
                        &:after {
                            content: "";
                            display: inline-block;
                        }
                        > span {
                            position: relative;
                            z-index: 1;
                        }
                        > .ui-date-arrow {
                            padding: $form-control-padding-vertical $form-control-padding-horizontal;
                            position: absolute;
                            right: 0;
                            top: 0;
                            bottom: 0;
                        }
                    }
                }
                > ui-drop-down-menu {
                    cursor: auto;
                    width: auto;
                    .ui-date-panel-week {
                        border-top: 1px solid $color-gray-light;
                        border-bottom: 1px solid $color-gray-light;
                        background-color: $color-gray-light;
                    }

                    .ui-date-panel-day {
                        font-size: 12px;
                        cursor: pointer;
                        td:hover {
                            color: $color-primary;
                        }
                    }

                    .ui-date-panel {
                        position: absolute;
                        left: 0;
                        top: 29px;
                        border-top: 1px solid $color-gray-light;
                        border-bottom: 1px solid $color-gray-light;
                        border-left: 0;
                        border-right: 0;
                        border-radius: 0;
                        width: 100%;
                        display: none;
                        z-index: 1;
                        &.ui-date-panel-year {
                            .ui-date-prev, .ui-date-next {
                                position: absolute;
                                height: 100%;
                                line-height: 100px;
                            }
                            .ui-date-prev {
                                left: 0;
                            }
                            .ui-date-next {
                                right: 0;
                            }
                        }
                        .ui-date-list {
                            list-style: none;
                            width: 210px;
                            padding: 10px 25px;
                            line-height: 22px;
                            box-sizing: border-box;
                            background-color: #fff;
                            text-align: center;
                            margin-bottom: 0;
                            margin-top: 0;
                            cursor: pointer;
                            li {
                                width: 25%;
                                float: left;
                                &:hover {
                                    color: $color-primary;
                                }
                                &.disabled {
                                    cursor: not-allowed;
                                    color: #ccc;
                                }
                            }
                        }
                    }

                    .ui-date-container {
                        width: 212px;
                        border: 1px solid $color-gray-light;
                        position: relative;
                        font-size: 14px;
                        @if $form-control-radius-is-open {
                            border-radius: 3px;
                        }
                        background-color: #fff;
                    }

                    .ui-date-table {
                        width: 100%;
                        border-spacing: 0;
                        border-collapse: collapse;
                        td {
                            padding: 0;
                        }
                        .ui-date-header-content {
                            padding: 4px 5px;
                            height: 30px;
                            position: relative;
                            z-index: 2;
                        }
                        .ui-date-head {
                            height: 30px;
                            .active .ui-date-panel {
                                display: block;
                            }
                            .active .ui-date-header-content {
                                border-bottom: 1px solid #fff;
                            }
                            td:nth-child(1).active .ui-date-header-content {
                                border-right: 1px solid $color-gray-light;
                            }
                            td:nth-child(2).active .ui-date-header-content {
                                border-left: 1px solid $color-gray-light;
                                border-right: 1px solid $color-gray-light;
                            }
                        }
                        .ui-date-body {
                            text-align: center;
                            td {
                                width: 30px;
                                height: 30px;
                                &:first-child, &:last-child {
                                    color: #999
                                }
                                &.no-current-month {
                                    color: #ccc;
                                }
                                &.disabled {
                                    background-color: #f3f3f3;
                                    color: #ccc;
                                    cursor: not-allowed;
                                }
                                &.current-day {
                                    color: #009ce5;
                                    font-weight: bold;
                                }
                                &.selected-day {
                                    color: #fff;
                                    background-color: $color-primary;
                                }
                            }
                        }
                    }

                    .pull-right {
                        float: right
                    }

                    .arrow {
                        cursor: pointer;
                        &:before {
                            content: "";
                            display: inline-block;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-color: transparent;
                            position: relative;
                        }
                        &.arrow-top:hover:before, &.arrow-top.active:before {
                            border-bottom-color: $color-primary;
                        }
                        &.arrow-top:before {
                            border-width: 8px 6px;
                            border-bottom-color: $color-gray;
                            top: -2px;
                        }
                        &.arrow-bottom:hover:before, &.arrow-bottom.active:before {
                            border-top-color: $color-primary;
                        }
                        &.arrow-bottom:before {
                            border-width: 8px 6px;
                            border-top-color: $color-gray;
                            top: 6px;
                        }
                        &.arrow-left:hover:before, &.arrow-left.active:before {
                            border-right-color: $color-primary;
                        }
                        &.arrow-left:before {
                            border-width: 6px 8px;
                            border-right-color: $color-gray;
                            left: -4px;
                        }
                        &.arrow-right:hover:before, &.arrow-right.active:before {
                            border-left-color: $color-primary;
                        }
                        &.arrow-right:before {
                            border-width: 6px 8px;
                            border-left-color: $color-gray;
                            left: 4px;
                        }
                    }

                    .ui-date-time-details {
                        text-align: center;
                        > div {
                            float: left;
                            width: 70px;
                            box-sizing: border-box;
                            padding: 5px;
                        }
                        input {
                            width: 44px;
                            padding: 3px;
                            height: 24px;
                            border-radius: 3px;
                            border: 1px solid $color-gray-light;
                        }
                    }

                    .ui-date-btn {
                        padding: 5px;
                    }
                }
            }
        }

    }

    @include input-style(primary, $color-primary);
    @include input-style(info, $color-info);
    @include input-style(warning, $color-warning);
    @include input-style(success, $color-success);
    @include input-style(danger, $color-danger);
    &[disabled], &[readonly], &.disabled {
        opacity: .5;
        cursor: not-allowed;
        > ui-input-range > .ui-input-range > .ui-input-range-btn {
            transition: none;
            &:hover, &:active {
                width: 1.2em;
                height: 1.2em;
                right: -0.6em;
                background-color: lighten($color-gray, 20);
            }
            &:active {
                box-shadow: none;
            }
        }
    }
    &[readonly] {
        cursor: default;
    }
    &[checked], &.checked {
        > ui-input-checkbox, > ui-input-radio {
            animation: input-focus .3s;
            > .ui-input {
                > .ui-input-checked {
                    transform: scale(1);
                    opacity: 1;
                }
                > .ui-input-unchecked {
                    transform: scale(0);
                    opacity: 0;
                }
            }
        }
    }
    > ui-input-checkbox, > ui-input-radio {
        display: none;
        cursor: inherit;
        position: relative;
        vertical-align: middle;
        text-align: center;
        overflow: hidden;
        color: $color-default;
        width: 1.2em;
        height: 1.2em;
        font-size: 1.2em;
        line-height: 1.2em;

        > .ui-input {
            display: block;
            width: 100%;
            height: 100%;
            background: none;
            border: none;
            font-size: inherit;
            line-height: inherit;
            color: inherit;
            cursor: inherit;
            > .ui-input-checked {
                transform: scale(0);
                opacity: 0;
            }
            > div {
                transition: all .3s;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin-top: 1px;
            }
        }
    }
    > ui-input-range {
        display: none;
        height: .5em;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
        background-color: $color-lighter;
        border-radius: .3em;
        line-height: 0;
        cursor: default;
        &:before {
            content: '';
            display: block;
            width: 8em;
            height: 0;
        }
        > .ui-input-range {
            display: inline-block;
            height: 100%;
            position: relative;
            width: 50%;
            background-color: hsla(hue($color-gray), saturation($color-gray), lightness($color-gray), .3);
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
            border-radius: inherit;
            cursor: default;
            > .ui-input-range-btn {
                position: absolute;
                width: 1.2em;
                height: 1.2em;
                right: -0.6em;
                top: 50%;
                border-radius: 50%;
                transform: translateY(-50%);
                transform-origin: 50% 50%;
                background-color: lighten($color-gray, 10);
                border: none;
                cursor: pointer;
                transition: all .2s;
                overflow: hidden;
                > button {
                    cursor: inherit;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                }
                &:hover, &:active {
                    right: -0.7em;
                    width: 1.4em;
                    height: 1.4em;
                    background-color: $color-gray;
                }
                &:active {
                    box-shadow: 0 0 0 .3em $ui-input-focus-box-shadow-color;
                }
            }
        }
    }
}

@keyframes input-focus {
    0% {
        border-radius: 50%;
        box-shadow: 0 0 0 .1em $ui-input-focus-box-shadow-color;
    }
    100% {
        border-radius: 50%;
        box-shadow: 0 0 0 .4em $ui-input-focus-box-shadow-color;
    }
}