ui-list-item {
    display: flex;
    padding-left: $grid-column-padding;
    &:last-child ui-list-inner {
        border-bottom: 0;
    }
    &:active {
        background-color: $color-lighter;
    }
}