ui-list-item, button.ui-list-item {
    display: flex;
    padding: $list-item-vertical-padding $list-item-horizontal-padding;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-larger;
    background-color: #fff;
    &:last-child ui-list-inner {
        border-bottom: 0;
    }
}

button.ui-list-item {
    margin: 0;
    text-align: inherit;
    line-height: inherit;
    background: $list-item-forward-bg;
    background-size: 14px 14px;
    border: 0;
    border-radius: 0;
    color: inherit;
    width: 100%;
    transition: background-color .2s linear;
    padding-right: $list-item-forward-padding-right;
    ui-list-inner {
        margin-right: -$list-item-forward-padding-right;
        padding-right: $list-item-forward-padding-right;
    }
    &:active {
        background-color: #d9d9d9;
    }
}