ui-list-inner {
    display: flex;
    flex: 1;
    position: relative;
    margin-top: -$list-item-vertical-padding;
    margin-bottom: -$list-item-vertical-padding;
    margin-right: -$grid-column-padding;
    padding: $list-item-vertical-padding $list-item-horizontal-padding $list-item-vertical-padding 0;
    border-bottom: $border-width solid $color-gray-light;
}