ui-list-item, button.ui-list-item {
    display: flex;
    padding: $list-item-vertical-padding $list-header-horizontal-padding;
    position: relative;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-larger;
    background-color: #fff;
    &:last-child ui-list-inner {
        border-bottom: 0;
    }
}

button.ui-list-item {
    margin: 0;
    text-align: inherit;
    line-height: inherit;
    background: #fff url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2012%2020'><path%20d='M2,20l-2-2l8-8L0,2l2-2l10,10L2,20z'%20fill='%23c8c7cc'/></svg>") right 14px center no-repeat;
    background-size: 14px 14px;
    border: 0;
    border-radius: 0;
    color: inherit;
    width: 100%;
    transition: background-color .2s linear;
    padding-right: 32px;
    ui-list-inner {
        margin-right: -32px;
        padding-right: 32px;
    }
    &:active {
        background-color: #d9d9d9;
    }
}