ui-list {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid $color-gray-light;
    border-bottom: 1px solid $color-gray-light;

    ~ ui-list-header {
        margin-top: -10px;
        border-top: 0;
    }
}