@mixin notify-theme($name, $color) {
    &.#{$name} {
        color: #fff;
        background-color: $color + 20;
        border: 1px solid $color;
        > .ui-notify-time-down-bar {
            background-color: $color - 20;
        }
    }
}

ui-notify {
    position: fixed;
    right: 40px;
    top: 10%;
    margin-left: -300px;
    z-index: $notify-z-index;
    @media (max-width: $screen-sm-min) {
        top: 5%;
        right: auto;
        left: 50%;
        margin-left: -150px;
    }

    > .ui-notify {
        position: relative;
        width: 300px;
        padding: 0 $grid-column-padding $grid-column-padding;
        overflow: hidden;
        border: 1px solid $color-gray-light;
        margin-bottom: 10px;

        @if $notify-radius-is-open {
            border-radius: $radius-base;
        }
        @include notify-theme(default, $color-default);
        @include notify-theme(primary, $color-primary);
        @include notify-theme(info, $color-info);
        @include notify-theme(success, $color-success);
        @include notify-theme(warning, $color-warning);
        @include notify-theme(danger, $color-danger);

        > .row {
            > .col-xs-10 {
                padding-top: $container-vertical-padding * 2;

            }
            > .pull-right > .close {
                margin-top: -2px;
            }
        }
        > .ui-notify-time-down-bar {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 6px;
            background-color: hsla(hue($color-default), saturation($color-default), lightness($color-default), .5);
        }
    }
}
