ui-title {
    @include flex-center;
    flex: 1;
    height: 100%;
    font-size: $font-size-larger;
    font-weight: 600;
    margin-left: $title-horizontal-distance;
    margin-right: $title-horizontal-distance;
    contain: size style layout;
}