ui-tab-bar-item {
    flex: 1;
    @include flex-center;
    padding-left: $grid-column-padding;
    padding-right: $grid-column-padding;
    .icon {
        font-size: $icon-font-size;
    }
    &.active {
        color: $color-primary;
    }
}