ui-view {
    @include fill-box;
    contain: size style layout;
    overflow: hidden;
    will-change: transform;
    &.activate {
        ui-header {
            animation: view-status-header-activate .4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-content {
            animation: view-status-content-activate .4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-buttons, ui-title, ui-footer, .ui-back-text {
            animation: view-status-header-content-activate .4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
    }
    &.destroy {
        ui-header {
            animation: view-status-header-destroy .4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-content {
            animation: view-status-content-destroy .4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-buttons, ui-title, ui-footer, .ui-back-text {
            animation: view-status-header-content-destroy .4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
    }
    &.to-stack {
        //ui-header {
        //    animation: view-status-header-to-stack .4s cubic-bezier(0.36, 0.66, 0.4, 1);
        //}
        ui-content {
            animation: view-status-content-to-stack .4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-buttons, ui-title, ui-footer, .ui-back-text {
            animation: view-status-header-content-to-stack .4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
    }
    &.reactivate {
        //ui-header {
        //    animation: view-status-header-reactivate .4s cubic-bezier(0.36, 0.66, 0.4, 1);
        //}
        ui-content {
            animation: view-status-content-reactivate .4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-buttons, ui-title, ui-footer, .ui-back-text {
            animation: view-status-header-content-reactivate .4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
    }
}

// 进入
@keyframes view-status-header-activate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes view-status-header-content-activate {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes view-status-content-activate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

// 销毁
@keyframes view-status-header-destroy {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes view-status-header-content-destroy {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(50%);
    }
}

@keyframes view-status-content-destroy {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

// 推入缓存
@keyframes view-status-header-to-stack {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes view-status-header-content-to-stack {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30%);
    }
}

@keyframes view-status-content-to-stack {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30%);
    }
}

// 重入
@keyframes view-status-header-reactivate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes view-status-header-content-reactivate {
    0% {
        transform: translateX(-30%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes view-status-content-reactivate {
    0% {
        transform: translateX(-30%);
    }
    100% {
        transform: translateX(0);
    }
}
