ui-view {
    @include fill-box;
    contain: size style layout;
    overflow: hidden;
    &.activate {
        ui-header {
            animation: ui-header-activate 0.4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-back > .ui-back-text {
            animation: ui-back-activate 0.4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-title {
            animation: ui-title-activate 0.4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-buttons {
            animation: ui-buttons-activate 0.4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-content, ui-footer {
            animation: ui-content-activate 0.4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
    }
    &.destroy {
        ui-header {
            animation: ui-header-destroy 0.4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-back > .ui-back-text {
            animation: ui-back-destroy 0.4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-title {
            animation: ui-title-destroy 0.4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-buttons {
            animation: ui-buttons-destroy 0.4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-content, ui-footer {
            animation: ui-content-destroy 0.4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
    }
    &.to-stack {
        ui-back > .ui-back-text {
            animation: ui-back-to-stack 0.4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-title {
            animation: ui-title-to-stack 0.4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-buttons {
            animation: ui-buttons-to-stack 0.4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-content, ui-footer {
            animation: ui-content-to-stack 0.4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
    }
    &.reactivate {
        ui-back > .ui-back-text {
            animation: ui-back-reactivate 0.4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-title {
            animation: ui-title-reactivate 0.4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-buttons {
            animation: ui-buttons-reactivate 0.4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
        ui-content, ui-footer {
            animation: ui-content-reactivate 0.4s cubic-bezier(0.36, 0.66, 0.4, 1);
        }
    }
}

// ui-content

@keyframes ui-content-activate {
    0% {
        transform: translateX(100%)
    }
    100% {
        transform: translateX(0)
    }
}

@keyframes ui-content-destroy {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(100%)
    }
}

@keyframes ui-content-to-stack {
    0% {
        transform: translateX(0)
    }
    100% {
        transform: translateX(-50%)
    }
}

@keyframes ui-content-reactivate {
    0% {
        transform: translateX(-50%)
    }
    100% {
        transform: translateX(0)
    }
}

// ui-header

@keyframes ui-header-activate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ui-header-destroy {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

// ui-back
@keyframes ui-back-activate {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes ui-back-destroy {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100px);
    }
}

@keyframes ui-back-to-stack {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes ui-back-reactivate {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

// ui-title

@keyframes ui-title-activate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes ui-title-destroy {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes ui-title-to-stack {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes ui-title-reactivate {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

// ui-buttons

@keyframes ui-buttons-activate {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes ui-buttons-destroy {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes ui-buttons-to-stack {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes ui-buttons-reactivate {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}