<ui-drop-down [open]="open" (escape)="onEscape()" (trigger)="trigger()" >
  <ui-drop-down-fixed>
    <div class="ui-date-fixed">
      <span *ngIf="!value" class="ui-date-placeholder">{{placeholder}}</span>
      <span *ngIf="value">{{value}}</span>
      <div class="ui-date-arrow">
        <span class="caret"></span>
      </div>
    </div>
  </ui-drop-down-fixed>
  <ui-drop-down-menu>
    <div class="ui-date-container" (click)="changeShowType()">
      <table class="ui-date-table">
        <tbody class="ui-date-head">
        <tr>
          <td colspan="3" [ngClass]="{active: showType === 'year'}">
            <div class="ui-date-header-content">
              {{currentDateTimeDetails.year}}年
              <span class="arrow"
                    uiStopPropagation
                    (click)="changeShowType('year')"
                    [ngClass]="{active: showType==='year', 'arrow-top': showType === 'year', 'arrow-bottom': showType !== 'year'}"></span>
            </div>
            <div class="ui-date-panel ui-date-panel-year">
              <div class="ui-date-prev" uiStopPropagation (click)="setYears(years[0].year - 16)">
                <span class="arrow arrow-left"></span>
              </div>
              <div class="ui-date-next"
                   uiStopPropagation
                   (click)="setYears(years[years.length-1].year + 1)">
                <span class="arrow arrow-right"></span>
              </div>
              <ul class="ui-date-list clearfix">
                <li *ngFor="let item of years"
                    (click)="checkYear(item)"
                    [ngClass]="{disabled: item.isDisable}">
                  {{item.year}}
                </li>
              </ul>
            </div>
          </td>
          <td colspan="2" [ngClass]="{active: showType ==='month'}">
            <div class="ui-date-header-content">
              {{currentDateTimeDetails.month + 1}}月
              <span class="arrow"
                    uiStopPropagation
                    (click)="changeShowType('month')"
                    [ngClass]="{active: showType==='month','arrow-top': showType === 'month', 'arrow-bottom': showType !== 'month'}"></span>
            </div>
            <div class="ui-date-panel">
              <ul class="ui-date-list clearfix">
                <li *ngFor="let item of months"
                    (click)="setMonth(item)"
                    [ngClass]="{disabled: item.isDisable}">
                  {{item.month + 1}}月
                </li>
              </ul>
            </div>
          </td>
          <td colspan="2">
            <div class="pull-right ui-date-header-content">
                <span class="arrow arrow-left"
                      (click)="setMonth({month: currentDateTimeDetails.month - 1})"></span>
              <span class="arrow arrow-right"
                    (click)="setMonth({month: currentDateTimeDetails.month + 1})"></span>
            </div>
          </td>
        </tr>
        </tbody>
        <tbody class="ui-date-body ui-date-panel-week">
        <tr>
          <td>日</td>
          <td>一</td>
          <td>二</td>
          <td>三</td>
          <td>四</td>
          <td>五</td>
          <td>六</td>
        </tr>
        </tbody>
        <tbody class="ui-date-body ui-date-panel-day">
        <tr *ngFor="let item of dayList">
          <td *ngFor="let day of item" (click)="selected(day)"
              [ngClass]="{'no-current-month': day.month !== currentDateTimeDetails.month, 'current-day': day.year === systemDateTimeDetails.year && day.month === systemDateTimeDetails.month && day.day === systemDateTimeDetails.day, 'selected-day': day.year === selectedDateTimeDetails.year && day.month === selectedDateTimeDetails.month && day.day === selectedDateTimeDetails.day, 'disabled': day.disabled}">
            {{day.day}}
          </td>
        </tr>
        </tbody>
      </table>
      <div class="ui-date-time-details clearfix" *ngIf="showHMS">
        <div>
          <input placeholder="时" type="number"
                 (input)="testValue(23, 'hours', $event)"
                 min="0"
                 max="23"
                 [(ngModel)]="selectedDateTimeDetails.hours">
        </div>
        <div>
          <input placeholder="分" type="number"
                 (input)="testValue(59, 'minutes', $event)"
                 min="0"
                 max="59"
                 [(ngModel)]="selectedDateTimeDetails.minutes">
        </div>
        <div>
          <input placeholder="秒" type="number"
                 (input)="testValue(59, 'seconds', $event)"
                 min="0"
                 max="59"
                 [(ngModel)]="selectedDateTimeDetails.seconds">
        </div>
      </div>
      <div class="ui-date-btn" uiStopPropagation>
        <button type="button" class="btn btn-primary btn-block btn-sm" [disabled]="!selectedDateTimeDetails.year"
                (click)="getResult()">确定
        </button>
      </div>
    </div>
  </ui-drop-down-menu>
</ui-drop-down>
<input class="ui-input-raw"
       type="range"
       [value]="value"
       [id]="forId"
       [name]="name"
       [disabled]="disabled"
       [readonly]="readonly">