<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-title>Home</ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content>
    <ui-scroll>
      <p>1</p>
      <p>2</p>
      <p>3</p>
      <p>4</p>
      <p>5</p>
      <p>6</p>
      <p>7</p>
      <p>8</p>
      <p>9</p>
      <p>9</p>
      <p>10</p>
      <ui-fixed-bar [offset]="40">
        <ui-scroll-tab>
          <ui-scroll-tab-button>a</ui-scroll-tab-button>
          <ui-scroll-tab-button>b</ui-scroll-tab-button>
        </ui-scroll-tab>
      </ui-fixed-bar>
      <p>1</p>
      <p>2</p>
      <p>3</p>
      <p>4</p>
      <p>5</p>
      <p>6</p>
      <p>7</p>
      <p>8</p>
      <p>9</p>
      <p>10</p>
      <p>11</p>
      <p>12</p>
      <p>13</p>
      <p>14</p>
      <p>15</p>
      <p>16</p>
      <p>17</p>
      <p>18</p>
      <p>19</p>
      <p>20</p>
    </ui-scroll>
  </ui-content>
</ui-page>