<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-title>Home</ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content style="background-color: lavender;">
    <a href="javascript:;" routerLink="/page1">page1</a>
    <div>
      <ui-scroll-tab>
        <ui-scroll-tab-button *ngFor="let item of list">{{ item }}</ui-scroll-tab-button>
      </ui-scroll-tab>
    </div>
    <div>
      <ui-select>
        <ui-option *ngFor="let item of list">{{ item }}</ui-option>
      </ui-select>
    </div>
    <p>
      <button type="button" (click)="ngAfterContentInit()">button</button>
    </p>
  </ui-content>
  <ui-footer></ui-footer>
</ui-page>