
ui-collection {
  top: 40px;
  ui-collection-item {
    padding: 15px;
    &:nth-child(1) {
      background-color: yellowgreen;
    }
    &:nth-child(2) {
      background-color: gold;
    }
    &:nth-child(3) {
      background-color: lightblue;
    }
    &:nth-child(4) {
      background-color: gainsboro;
    }
  }
}