.color-default {
    color: $color-default;
}

.color-primary {
    color: $color-primary;
}

.color-info {
    color: $color-info;
}

.color-success {
    color: $color-success;
}

.color-danger {
    color: $color-danger;
}

.color-warning {
    color: $color-warning;
}

.color-muted {
    color: $color-gray;
}