.ui-color-default {
    color: $color-default;
}

.ui-color-primary {
    color: $color-primary;
}

.ui-color-info {
    color: $color-info;
}

.ui-color-success {
    color: $color-success;
}

.ui-color-danger {
    color: $color-danger;
}

.ui-color-warning {
    color: $color-warning;
}

.ui-color-muted {
    color: $color-gray;
}