.row {
    @include clearfix;
    margin-left: -$grid-column-padding;
    margin-right: -$grid-column-padding;
}
@for $i from 1 through $grid-columns {
    $width: #{$i / $grid-columns * 100};
    .col-#{$i} {
        width: $width + '%';
        float: left;
        min-height: 1px;
        padding-left: $grid-column-padding;
        padding-right: $grid-column-padding;
    }
    .col-offset-#{$i} {
        margin-left: $width + '%';
    }
    .col-pull-#{$i} {
        margin-left: -$width + '%';
    }
}