.ui-text-left {
    text-align: left;
}

.ui-text-right {
    text-align: right;
}

.ui-text-center {
    text-align: center;
}

.ui-text-justify {
    text-align: justify;
}

.ui-text-bold {
    font-weight: bold;
}

.ui-text-italic {
    font-style: italic;
}

.ui-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}