ui-content {
    flex: 1;
    position: relative;
    background-color: #fff;
    contain: size style layout;
}

.ui-content-shadow {
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: -10px * $screen-scale;
    overflow: hidden;
    &:before {
        content: "";
        position: absolute;
        left: 10px * $screen-scale;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        box-shadow: 0 0 10px * $screen-scale rgba(0, 0, 0, .3);
    }
}

.ui-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: inherit;
    transform: translateZ(0);
}

.ui-iphone ui-content {
    &:first-child {
        padding-top: 20px * $screen-scale;
    }
}

.ui-iphone-x ui-content {
    &:first-child {
        padding-top: 20px * $screen-scale;
        @media screen and (max-width: 375px * $screen-scale) {
            padding-top: 44px * $screen-scale;
        }
    }
    &:last-child {
        @media screen and (max-width: 375px * $screen-scale) {
            padding-bottom: 34px * $screen-scale;
        }
    }
}

.ui-iphone-x {
    ui-tab ui-content {
        &:last-child {
            @media screen and (max-width: 375px * $screen-scale) {
                padding-bottom: 0;
            }
        }
    }
}

.ui-android {

}

.ui-default {

}