ui-scroll-tab-button {
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
    transition: color .2s;
    &.ui-selected {
        color: $color-primary;
    }
}