<ng-content></ng-content>
<ui-mask [show]="focus" (click)="hide()" uiStopPropagation>
  <div class="ui-picker" uiStopPropagation>
    <div class="ui-picker-header">
      <button class="ui-picker-action" type="button" (click)="hide()">取消</button>
      <button class="ui-picker-action" type="button" (click)="selected()">确认</button>
    </div>
    <div class="ui-picker-selector">
      <div class="ui-picker-list">
        <ui-picker-column *ngFor="let column of list; let i = index"
                          (selected)="cellSelected($event, i)"
                          [cells]="column" [value]="value[i] || column[0]"></ui-picker-column>
      </div>
    </div>
  </div>
</ui-mask>
<input type="text" class="ui-raw-input" [name]="name" [id]="forId" [disabled]="disabled" [readonly]="readonly">