<div class="ui-picker-content" [ngClass]="{show: value && value.length}">
  <ng-content></ng-content>
</div>
<input [ngClass]="{show: !value || !value.length}"
       type="text" class="ui-picker-input"
       [name]="name" [id]="forId"
       [disabled]="disabled" readonly
       [placeholder]="placeholder">
<div class="ui-picker-input-mask"></div>
<ui-action-sheet [show]="focus" (click)="hide()" uiStopPropagation>
  <div class="ui-picker" uiStopPropagation>
    <ui-flex class="ui-picker-header">
      <button class="ui-picker-action" type="button" (click)="hide()">取消</button>
      <ui-flex-item class="ui-picker-title">{{ title }}</ui-flex-item>
      <button class="ui-picker-action" type="button" (click)="selected()">确认</button>
    </ui-flex>
    <div class="ui-picker-selector">
      <div class="ui-picker-list">
        <ui-picker-column *ngFor="let column of list; let i = index"
                          (selected)="cellSelected($event, i)"
                          [cells]="column" [value]="value[i] || column[0]"></ui-picker-column>
      </div>
    </div>
  </div>
</ui-action-sheet>
