<ui-dialog [show]="show" (hide)="hide()">
  <div class="ui-confirm">
    <h3 class="ui-confirm-title clearfix" *ngIf="title" [innerHTML]="title">
    </h3>
    <div class="ui-confirm-body" [innerHTML]="content">
    </div>
    <div class="ui-confirm-footer text-right">
      <button (click)="checked(false)" type="button" class="btn lg block">{{ btnsText[0] }}</button>
      <button (click)="checked(true)" type="button" class="btn lg block">{{ btnsText[1] }}</button>
    </div>
  </div>
</ui-dialog>