<ui-page>
  <ui-header></ui-header>
  <ui-content>
    <ui-scroll>
      <div>
        <br>
      </div>
      <ui-list-header>
        fdsa
      </ui-list-header>
      <ui-list>
        <ui-list-item>fdsafads</ui-list-item>
        <ui-list-item>
          <ui-list-inner>fdsafads</ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-inner>fdsafads</ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-inner>fdsafads</ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-thumbnail>
            <img src="../../assets/images/1.jpg" alt="">
          </ui-list-thumbnail>
          fdsafdsafdsafdsafdsafdsaf
        </ui-list-item>
        <ui-list-item>
          <ui-list-thumbnail>
            <img src="../../assets/images/1.jpg" alt="">
          </ui-list-thumbnail>
          <ui-list-inner>fdsafdsafdsafdsafdsafdsaf</ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-sliding>
            <ui-list-thumbnail>
              <img src="../../assets/images/1.jpg" alt="">
            </ui-list-thumbnail>
            <ui-list-inner>fdsafdsafdsafdsafdsafdsaf</ui-list-inner>
          </ui-list-sliding>
          <ui-list-option>
            <button type="button">按扭</button>
            <button type="button">按扭</button>
            <button type="button">按扭</button>
          </ui-list-option>
        </ui-list-item>
        <ui-list-item>fdsa</ui-list-item>
        <ui-list-item>fdsa</ui-list-item>
        <ui-list-item>fdsa</ui-list-item>
        <ui-list-item>fdsa</ui-list-item>
      </ui-list>
      <button (click)="goToPage1()" class="btn btn-block btn-primary">to page1</button>
    </ui-scroll>
  </ui-content>
</ui-page>