<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-back>
        <span class="icon-arrow-left"></span>
      </ui-back>
      <ui-title>标题</ui-title>
      <ui-buttons>
        <span class="icon-list"></span>
      </ui-buttons>
    </ui-navbar>
  </ui-header>
  <ui-content>
    <ui-scroll>
      <div>
        <br>
      </div>
      <ui-list-header>
        fdsa
      </ui-list-header>
      <ui-list>
        <ui-list-item>
          <ui-list-inner>
            <ui-list-sliding>
              <ui-list-thumbnail>
                <img src="../../assets/images/1.jpg" alt="">
              </ui-list-thumbnail>按扭
            </ui-list-sliding>
            <ui-list-option>
              <button type="button" (uiPan)="test($event)" class="btn btn-primary">按扭</button>
              <button type="button" class="btn btn-success">按扭</button>
              <button type="button" class="btn btn-danger">按扭</button>
            </ui-list-option>
          </ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-inner>
            <ui-list-sliding>
              <ui-list-thumbnail>
                <img src="../../assets/images/1.jpg" alt="">
              </ui-list-thumbnail>按扭
            </ui-list-sliding>
            <ui-list-option>
              <button type="button" (uiPan)="test($event)" class="btn btn-primary">按扭</button>
              <button type="button" class="btn btn-success">按扭</button>
              <button type="button" class="btn btn-danger">按扭</button>
            </ui-list-option>
          </ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-inner>
            <ui-list-sliding>
              <ui-list-thumbnail>
                <img src="../../assets/images/1.jpg" alt="">
              </ui-list-thumbnail>按扭
            </ui-list-sliding>
            <ui-list-option>
              <button type="button" (uiPan)="test($event)" class="btn btn-primary">按扭</button>
              <button type="button" class="btn btn-success">按扭</button>
              <button type="button" class="btn btn-danger">按扭</button>
            </ui-list-option>
          </ui-list-inner>
        </ui-list-item>
        <ui-list-item>
          <ui-list-inner>
            <ui-list-sliding>
              <ui-list-thumbnail>
                <img src="../../assets/images/1.jpg" alt="">
              </ui-list-thumbnail>按扭
            </ui-list-sliding>
            <ui-list-option>
              <button type="button" (uiPan)="test($event)" class="btn btn-primary">按扭</button>
              <button type="button" class="btn btn-success">按扭</button>
              <button type="button" class="btn btn-danger">按扭</button>
            </ui-list-option>
          </ui-list-inner>
        </ui-list-item>
        <button class="ui-list-item">
          <ui-list-inner>
            <ui-list-thumbnail>
              <img src="../../assets/images/1.jpg" alt="">
            </ui-list-thumbnail>按扭
            <div>
              <span class="icon icon-arrow-right"></span>
            </div>
          </ui-list-inner>
        </button>
        <button class="ui-list-item">
          <ui-list-inner>
            <ui-list-thumbnail>
              <img src="../../assets/images/1.jpg" alt="">
            </ui-list-thumbnail>按扭22
          </ui-list-inner>
        </button>
      </ui-list>
      <div style="height: 600px; background: #f00;"></div>
      <button (click)="goToPage1()" class="btn btn-block btn-primary">to page1</button>
    </ui-scroll>
  </ui-content>
</ui-page>