ui-button {
    @extend .btn;
    position: relative;
    &.loading {
        opacity: .8;
        > .ui-button-text {
            transform: scale(0);
        }
        > .ui-button-loading {
            transform: scale(1);
        }
    }
}

.ui-button {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: inherit;
    z-index: 1;
}

.ui-button-text {
    position: relative;
    z-index: 0;
    transition: all .2s;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-button-loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: inherit;
    text-align: inherit;
    line-height: inherit;
    transform: scale(0);
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;
    > span {
        display: inline-block;
        animation: btn-loading 1s infinite linear;
    }
}

@keyframes btn-loading {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(-360deg);
    }
}