ui-option {
    padding: $list-item-vertical-padding $grid-column-padding;
    line-height: 1.2em;
    font-size: $font-size-larger;
    text-align: center;
    transition: background-color .2s;
    display: block;
    width: 100%;
    border: 0;
    border-bottom: $border-width solid $color-gray-light;
    color: $color-primary;
    &:last-child {
        border-bottom: 0;
    }
    &.disabled {
        background-color: hsla(hue($color-default), saturation($color-default), lightness($color-default), .2);
        cursor: not-allowed;
        color: #fff;
    }
    &:active {
        background-color: rgba(0, 0, 0, .1);
    }
}