ui-option {
    line-height: 3em;
    font-size: $font-size-larger;
    text-align: center;
    transition: all .2s;
    display: block;
    width: 100%;
    border: 0;
    background-color: #fff;
    border-bottom: 1px solid $color-gray-light;
    &:last-child {
        border-bottom: 0;
    }
    &.disabled {
        background-color: hsla(hue($color-default), saturation($color-default), lightness($color-default), .2);
        cursor: not-allowed;
        color: #fff;
    }
}

.ui-option {
    padding: 0 $grid-column-padding;
    width: 100%;
    border: none;
    background: none;
    line-height: inherit;
    font-size: inherit;
    cursor: inherit;
    text-align: inherit;
    color: $color-primary;
    > div {
        white-space: normal;
        overflow: hidden;
    }
}