ui-picker-column {
    flex: 1;
    display: block;
}

.ui-picker-column {
    margin-top: 72px;
    //&:after, &:before {
    //    content: "";
    //    display: block;
    //    height: 72px;
    //}
}

.ui-picker-cell {
    display: block;
    width: 100%;
    height: 36px;
    transition: color .2s;
    border: none;
    background: none;
}