ui-select {
    display: inline-block;
    height: 50px;
    .ui-select-fixed {
        height: 100%;
        display: flex;
    }

    .ui-select-arrow {
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    .ui-select-modal {
        display: none;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .ui-select-options {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 $grid-column-padding $grid-column-padding;
        border-radius: 13px;
        overflow: hidden;
    }

    &.focus {
        .ui-select-modal {
            display: block;
            background-color: $mask-background-color;
        }
    }
}