ui-select {
    display: inline-block;
    height: 50px;
    .ui-select-fixed {
        height: 100%;
        display: flex;
        input {
            flex: 1;
        }
    }

    .ui-select-arrow {
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    .ui-select-modal {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 $grid-column-padding $grid-column-padding;
        transform: translateY(100%);
        z-index: $mask-z-index + 1;
        transition: transform .2s;
        transition-delay: .1s;
    }

    .ui-select-options {
        border-radius: 13px;
        overflow: hidden;
        background-color: #fff;
    }

    &.focus {
        .ui-select-modal {
            transform: translateY(0);
        }
    }
}