<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-back></ui-back>
      <ui-title>设置</ui-title>
    </ui-navbar>
    <ui-navbar-extension>
      <ui-title-extension>设置</ui-title-extension>
    </ui-navbar-extension>
  </ui-header>
  <ui-content>
    <p><a routerLink="../page2">page2</a></p>
    <p class="container">
     我们是 <ui-input type="range"></ui-input>fdsafdsa
    </p>
    <p>
      <ui-input type="range" class="primary"></ui-input>
      <ui-input type="range" class="success"></ui-input>
    </p>
    <p class="container">

      <ui-input type="range" class="info"></ui-input>
      <ui-input type="range" class="warning"></ui-input>
      <ui-input type="range" class="danger"></ui-input>
    </p>
  </ui-content>
  <ui-footer>
    fdsa
  </ui-footer>
</ui-page>