<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-back></ui-back>
      <ui-title>设置</ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content class="container" style="background: #e9eaec;">
    <ui-refresher>刷新成功！</ui-refresher>
    <ui-scroll style="background-color: #fff;" [openRefresh]="true" (dragging)="drag($event)">
      <!--<div style="width: 100px; height: 100px; background: #000;" (uiPan)="pan($event)"></div>-->
      <p><a routerLink="../page2">page2</a></p>

      <p><button type="button" (click)="loaded()"> loaded</button></p>
    </ui-scroll>
  </ui-content>
</ui-page>