<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-back></ui-back>
      <ui-title>设置</ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content>
    <ui-scroll-tab [index]="index" (change)="setIndex($event)">
      <ui-scroll-tab-button>第1页</ui-scroll-tab-button>
      <ui-scroll-tab-button>第2页</ui-scroll-tab-button>
      <ui-scroll-tab-button>第3页</ui-scroll-tab-button>
      <ui-scroll-tab-button>第444444页</ui-scroll-tab-button>
      <ui-scroll-tab-button>第5页</ui-scroll-tab-button>
      <ui-scroll-tab-button>第6页</ui-scroll-tab-button>
      <ui-scroll-tab-button>第7页</ui-scroll-tab-button>
      <ui-scroll-tab-button>第8页</ui-scroll-tab-button>
      <ui-scroll-tab-button>第9页</ui-scroll-tab-button>
    </ui-scroll-tab>
    <ui-collection [index]="index" style="top: 40px" (slidingFinish)="setIndex($event)">
      <ui-collection-item>111</ui-collection-item>
      <ui-collection-item *ngFor="let item of list">{{ item }}</ui-collection-item>
    </ui-collection>
  </ui-content>
</ui-page>