<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-back>返回</ui-back>
      <ui-title>采集员审核</ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content>
    <ui-scroll>
      <img [uiLazySrc]="image" [src]="defaultImage" [errorImage]="errorImage">
      <img [uiLazySrc]="image" [src]="defaultImage" [errorImage]="errorImage">
      <img [uiLazySrc]="image" [src]="defaultImage" [errorImage]="errorImage">
      <img [uiLazySrc]="image" [src]="defaultImage" [errorImage]="errorImage">
      <img [uiLazySrc]="image" [src]="defaultImage" [errorImage]="errorImage" [offset]="100">
      <img [uiLazySrc]="image" [src]="defaultImage" [errorImage]="errorImage">
      <img [uiLazySrc]="image" [src]="defaultImage" [errorImage]="errorImage">
      <img [uiLazySrc]="image" [src]="defaultImage" [errorImage]="errorImage">
    </ui-scroll>
  </ui-content>
</ui-page>
