ui-picker-column {
    flex: 1;
    display: block;
    font-size: $font-size-large;
}

.ui-picker-column {
    margin-top: 72px;
}

.ui-picker-cell {
    display: block;
    width: 100%;
    height: 36px;
    transition: color .2s;
    border: none;
    background: none;
    font-size: inherit;
}