<ui-page>
  <ui-header>
    <ui-navbar>
      <ui-back>page1</ui-back>
      <ui-title>page2</ui-title>
    </ui-navbar>
  </ui-header>
  <ui-content class="container">
    <p><a routerLink="../child">child</a></p>
    <div>
      <ui-picker [data]="data" (change)="show($event)">
        <div>fdsafdsa</div>
      </ui-picker>

    </div>
    <div>
      <ui-input type="radio" uncheckedIcon="" checkedIcon="" text="a"></ui-input>
    </div>
    <div>
      <ui-select>
        <ui-option value="01">汉族</ui-option>
        <ui-option value="03">回族</ui-option>
        <ui-option value="06">苗族</ui-option>
        <ui-option value="06">维吾尔族</ui-option>
        <ui-option value="11">满族</ui-option>
        <ui-option value="08">壮族</ui-option>
        <ui-option value="97">其他</ui-option>
      </ui-select>
    </div>
  </ui-content>
</ui-page>